footer {
  background: var(--primary-background-color);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  width: 70rem;
  padding: 1rem;
}

.links {
  flex-grow: 1;
}

a.footer-btn {
  color: var(--primary-text-color);
  font: 1rem;
  text-decoration: none;
  padding-right: .8rem;
}

.social-media-icon {
  padding-right: 0 !important;
  padding-left: .5rem;
  font-size: 1.5rem;
}

.copyright{
  margin-top: .5rem;
}

p.copyright-text {
  color: var(--primary-text-color);
  font-size: .8rem;
}