.category-page {
  width: 70rem;
  padding-top: 1.5rem;
}

.category-nav {
  box-shadow: none;
  background-color: var(--secondary-background-color);
}

.category-buttons {
  text-align: left;
  background-color: var(--secondary-background-color);
}

.selected-category-btn {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: .5rem 1rem;
  cursor: pointer;
}

.selected-category-btn a {
  text-decoration: none;
}

.unselected-category-btn {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding: .5rem 1rem;
  cursor: pointer;
}

.unselected-category-btn a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.unselected-category-btn:hover,
.unselected-category-btn:active {
  background-color: #AAAAAA;
}

.unselected-category-btn a:hover,
.unselected-category-btn a:active {
  color: var(--primary-text-color);
}
