.category-book-list {
  padding: 0 1em;
  grid-auto-flow: column;
  grid-template-rows: 23rem 23rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

.book {
  height: 23rem;
  max-width: 10rem;
  justify-content: space-between;
  align-items: flex-start;
}

.book-img {
  height: 12.5rem;
  margin-bottom: .3rem;
}

.read-now-btn {
  font-size: .8rem;
  position: relative;
  height: 2rem;
  margin-top: 9rem;
  margin-bottom: -11rem;
}

#book-boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
  gap: 1em;
}

.book-box {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  padding: 1em;
  gap: 0.25em;
}

.book-title {
  font-weight: bold;
  font-size: 1.1rem;
  flex-grow: 1;
  line-height: 1.4rem;
  word-break: keep-all;
}

.book-author {
  font-style: italic;
  font-size: .9rem;
  padding-top: 5px;
}

.book-price {
  color: #B50000;
  font-size: 1.2rem;
  padding: 5px auto;
}

.add-to-cart-btn {
  width: 8rem;
}