.home-page {
  /* display: flex; */
  /* width: 70rem; */
  padding-top: 2rem;
  column-gap: 15px;
  row-gap: 20px;
}

.book-cover-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  height: 22rem;
}

.book-cover-text {
  background-color: #F3E6DF;
  grid-column: 3;
  grid-row: 1;
  height: 22rem;
  width: 25rem;
  align-items: center;
  justify-content: center;
}

.book-cover-text h4 {
  margin: .5rem auto 1.2rem;
}

.newsletter {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 1;
  grid-row: 2; 
  column-gap: 10px;
  /* row-gap: 15px; */
  padding: 20px 15px;
  width: 16rem;
  align-items: center;
}

#email-icon {
  font-size: 2.5rem;
  grid-column: 1;
  grid-row: 1;
}

#sign-up-txt {
  font-size: 1.1rem;
  font-family: var(--default-font-family);
  text-align: justify;
  grid-column: 2;
  grid-row: 1;
  word-wrap: break-word;
}

#email-input {
  background-color: #CBCBCB;
  font-size: 1rem;
  grid-column: 1;
  grid-column-end: 3;
  grid-row: 2;
  height: 2.4rem;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

.ads {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 2;
  grid-column-end: 4;
  grid-row: 2; 
  padding: 10px;
  justify-content: space-around;
}

.welcome-text {
  width: 20em;
}

.category-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.category-image-items a {
  text-align: center;
  cursor: pointer;
}

.category-image-items div {
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
  color: white;
  transform: translateY(-2.25em);
  margin-bottom: -2em;
}
